/*:host ::ng-deep .pi-eye,
:host ::ng-deep .pi-eye-slash {
  transform: scale(1.6);
  margin-right: 1rem;
  color: var(--primary-color) !important;
}*/

.container {
  display: flex;
  align-items: stretch;
  height: 100vh;
  background-color: #bdbcbc;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
}

.animated-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: appearFromLeft 1s;
  max-width: 370px !important;
}

.form-container {
  margin: 10px;

}

.form-text-h1 {
  padding: 0.75rem !important;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 24px;
  font-weight: 700 !important;
  font-size: 1.75rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
}

a {
  display: block;
  margin-top: 24px;
  color: #080808;
  text-decoration: none;
  transition: color 200ms;
}

.background {
  flex: 1;
  background: url('~/src/assets/echo-app-fundo.png') no-repeat center;
  /*background: url('~/src/assets/background.png') no-repeat center;*/
}
