<div class="container">
  <div class="background"></div>
  <div class="content">
    <div class="animated-container">
      <!--<img src="assets/logo-meal.png" alt="logo meal" class="mb-3 w-14rem flex-shrink-0" />-->
      <div class="form-container w-full">

        <div class="col-12 form-text-h1">
          <h1>Faça seu cadastro</h1>
        </div>

        <div class="col-12" style="padding: 0.75rem !important;">
          <span class="p-input-icon-left" style="display: flex !important;">
            <i class="pi pi-id-card"></i>
            <input type="text" [(ngModel)]="register.name" pInputText placeholder="Nome Completo" class="w-full" />
          </span>
        </div>

        <div class="col-12" style="padding: 0.75rem !important;">
          <span class="p-input-icon-left" style="display: flex !important;">
            <i class="pi pi-envelope"></i>
            <input type="text" [(ngModel)]="register.email" pInputText placeholder="E-mail" class="w-full" />
          </span>
        </div>

        <div class="col-12" style="padding: 0.75rem !important;">
          <span class="p-input-icon-left" style="display: flex !important;">
            <i class="pi pi-lock"></i>
            <input type="password" [(ngModel)]="register.password" pPassword placeholder="Senha" class="w-full" />
          </span>
        </div>
      </div>

      <div class="col-12">
        <button pButton pRipple label="Cadastrar" (click)="singin()" class="w-full p-3 text-xl"></button>
        <p-messages class="w-full" [value]="msgs"></p-messages>
      </div>

    </div>

    <a routerLink="/auth/singin">
      <i class="pi pi-fw pi-arrow-left" style="margin-right: 5px;"></i>
      Voltar para tela de logon
    </a>
  </div>
</div>
