.fixed-button {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 999;
  width: 60px !important;
  height: 60px !important;
  font-size: 16px !important;
  border-radius: 30% !important;
}
