.image-drop-zone {
  width: auto;
  height: 300px;
  border: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.image-preview {
  /*position: relative;*/
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.image-preview img {
  max-width: 65%;
  max-height: 100%;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.center-text {
  text-align: center;
}


.label-upload {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  display: block !important;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

